extends base
block title
	title= "往期" + " - " + site.title

block header
	include include/header
block footer
	include include/footer
block content
	.single
		#issues.clearfix
			.page_wrap
				ul.clearfix
					li.1st
						.item.clearfix
							h2
								a(href="/tag/1.0")
									img(alt="1.0", src="template/img/issue/i1.jpg")
								br
								br
								a(href="/tag/1.0") [第1期]
							p
								a(href="/post/du-ji") 发刊词 | 渡己
								a(href="/post/ji-lu/dong-tu-chang-chun") 寄旅 | 冻土长春
								a(href="/post/ai-zhi/fan-bian-ben-xue") 爱智 | 反变笨学
								a(href="/post/ai-zhi/chang-zhou-de-luo-mo") 爱智 | 常州的落寞
								a(href="/post/guan-zhui/yi-shi-de-pin-tu") 管锥 | 遗失的拼图
								a(href="/post/tao-tie/ti-la-mi-su-jiao-cheng") 饕餮 | 提拉米苏教程
								a(href="/post/zhi-meng/lie-ma-gong-lu-de-feng") 织梦 | 列马公路的风 （一）
								a(href="/post/ren-jian-dong-wu-yuan/wu-cong-tan-qi-de-ai-qing") 人间动物园 | 十方一念（1）· 无从谈起的爱情
					li.2nd
						.item.clearfix
							h2
								a(href="/tag/2.0")
									img(alt="2.0", src="template/img/issue/i2.jpg")
								br
								br
								a(href="/tag/2.0") [第2期]
							p
								a(href="/post/zhi-meng/lie-ma-gong-lu-de-feng-er") 织梦 | 列马公路的风 （二）
								a(href="/post/ren-jian-dong-wu-yuan/wu-yi-mou-xing-fu-zhong-chan-jia-ting-li-de-ge-gou-de-bo-lan-da-ji") 人间动物园 | 武汉某幸福中产家庭里的一个狗的波澜大计
								a(href="/post/ji-lu/tai-bei-ji-xing") 寄旅 | 台北纪行
								a(href="/post/ji-lu/lu-xing-de-kong-huang") 寄旅 | 旅行的恐慌
								a(href="/post/ai-zhi/hou-hui-wu-qi") 爱智 | 后会无期
								a(href="/post/guan-zhui/ge-wu") 管锥 | 格物
								a(href="/post/zhi-meng/lie-ma-gong-lu-de-feng-san") 织梦 | 列马公路的风 （三）
								a(href="/post/ren-jian-dong-wu-yuan/wu-shi-ke-ji") 人间动物园 | 十方一念（2）· 无世可济

					li.3rd
						.item.clearfix
							h2
								a(href="/tag/3.0")
									img(alt="3.0", src="template/img/issue/i3.jpg")
								br
								br
								a(href="/tag/3.0") [第3期]
							p
								a(href="/post/ai-zhi/yun-he-san-qian-nian") 爱智 | 运河三千年
								a(href="/post/wan-wu/you-guan-na-shi-de-fu-yang-sheng-xi") 玩物 | 有关纳什的俯仰声息
								a(href="/post/ren-jian-dong-wu-yuan/you-te-dian") 人间动物园 | 十方一念（3）· 有特点
								a(href="/post/ren-jian-dong-wu-yuan/wo-de-peng-you-bjun") 人间动物园 | 我的朋友B君
								a(href="/post/ren-jian-dong-wu-yuan/wo-zhi") 人间动物园 | 十方一念（4）· 我执
								a(href="/post/zhi-meng/jian-shen-fang-de-nu-ren") 织梦 | 健身房的女人
								a(href="/post/ai-zhi/sha-le-mei-de-dan-sheng") 爱智 | 莎乐美的诞生
								a(href="/post/wan-wu/xiu-xie-lao-ren") 玩物 | 修鞋老人
					li.4th
						.item.clearfix
							h2
								a(href="/tag/4.0")
									img(alt="4.0", src="template/img/issue/i4.jpg")
								br
								br
								a(href="/tag/4.0") [第4期]
							p
								a(href="/post/ji-lu/ye-mao-shan") 寄旅 | 野猫禅
								a(href="/post/ai-zhi/jing-dian-bu-yan-du") 爱智 | 经典不厌读
								a(href="/post/ai-zhi/wang-luo-ba-wo-men-bian-sha-liao-ma") 爱智 | 网络把我们变傻了吗
								a(href="/post/wan-wu/shi-mian-shang-de-bi-ji-ben-dian-nao") 玩物 | 市面上的笔记本电脑:从 XPS 13 谈起
								a(href="/post/guan-zhui/-ge-ren-he-ta-de-shi-ba-ge-tian-xia-di-shang") 管锥 | 一个人和他的十八个天下第一（上）
								a(href="/post/guan-zhui/-ge-ren-he-ta-de-shi-ba-ge-tian-xia-di-xia") 管锥 | 一个人和他的十八个天下第一（下）
								a(href="/post/ai-zhi/zhi-yao-yi-fen-zhong") 爱智 | 只要一分钟
								a(href="/post/ai-zhi/dui-jiao-lang-man-ning-zhu-mei-miao") 爱智 | 对焦浪漫凝住美妙

					li.5th
						.item.clearfix
							h2
								a(href="/tag/5.0")
									img(alt="5.0", src="template/img/issue/i5.jpg")
								br
								br
								a(href="/tag/5.0") [第5期]
							p
								a(href="/post/zhi-meng/zhen-zhu-nai-cha-yun-dong") 织梦 | 珍珠奶茶运动
								a(href="/post/ji-lu/jing-cheng-ren-shi") 寄旅 | 京城人事
								a(href="/post/wo-men-yao-bu-yao-ai-guo") 五四纪念 | 我们要不要爱国
								a(href="/post/lun-wei-xian-si-xiang-yu-yan-lun-zi-you") 五四纪念 | 论危险思想与言论自由
								a(href="/post/nian-hua/xin-zhong-de-ri-yue-yun-nan-zu-hua") 拈花 | 心中的日月:云南组画
								

				.clear
				.pager.clearfix
					a.gotop.icon-arrow_up(href="#")

		.page_wrap
			#fb_comments_container
				.ds-thread(data-thread-key="issues", data-title="往期", data-url="http://medicino.net/issues")
				script(type="text/javascript").
					var duoshuoQuery = {short_name:"greenzorro"};
					(function() {
						var ds = document.createElement('script');
						ds.type = 'text/javascript';ds.async = true;
						ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
						ds.charset = 'UTF-8';
						(document.getElementsByTagName('head')[0] 
						 || document.getElementsByTagName('body')[0]).appendChild(ds);
					})();


