header.header.clearfix
	.menu
		a.icon-icon_menu(href="javascript:;")
	.logo
		a(href="/")
			img(src="template/img/logo/small.jpg")
	h1.title
		a(href="/") Medicino
	h1.subtitle
		p
			|   这个世界的惊奇美好
	.empty
	.menu_wrapper
		nav.nav
			li
				a(href="/") 首页
			li 
				a(href="/issues") 往期
			li
				a(href="/") 活动
			li
				a(href="/about") 关于

	.down
		a.icon-arrow2_down